<div id="user-title">
  <h1>User List</h1>
</div>

<div class="user-list">
@for (user of users; track user.id) {
  <div (click)="selectUser(user.id)" class="user-data"
   [ngClass]="{
        'active': user.status,
        'inactive': !user.status,
        'selected': selectedUserId === user.id
      }"
  >
    <p>{{user.name}}</p>
    @if (user.status) {
      <p>
        Active
      </p>
    }@else {
      <p>
        Inactive
      </p>
    }
  </div>
  <div class="user-details">
    <button (click)="toggleDetails(user.id)">
        {{ selectedUserId === user.id ? 'Esconder Detalhes' : 'Mostrar Detalhes' }}
      </button>
      <app-user-details
    [user]="selectedUserId"
    [isOpen]="selectedUserId === user.id"
    (close)="toggleDetails(user.id)">
  </app-user-details>
  </div>
} @empty {
  <p>No users in the database</p>
}
</div>
